@charset "UTF-8";

@media screen and (max-width: 950px) {

    section {
        flex-direction: column;
        margin: 4em auto;
    }

    .div-sedan {
        border-radius: 10px 10px 0px 0px;
    }
    
    .div-luxury {
        border-radius: 0px 0px 10px 10px;
    }

    .paragraph {
        font-size: 13.5px;
        padding-bottom: 2em;
    }

}